*{
    box-sizing: border-box;
}
img{
    max-width: 100%;
    height: auto;
    display: block;
}
body {
    background-image: assets/GreenBG.jpeg');
}
.container {

display: grid;
grid-template-columns: repeat(12, 1fr);

grid-template-areas:
"a a a a a a a a a a a a"
"b b b b b b b b b b b b"
"c c e e e e e e e e e e"
"d d e e e e e e e e e e";

gap: 1.25rem;
}

.header { grid-area: a; }
.CreatorRelease { grid-area: b; }
.purpose { grid-area: c; }
.body { grid-area: d; }
.verdanaimage { grid-area: e; }